{% include "_top.html" %}
<main class="w-full h-100vh d-flex p-items-center">
    <form id="frm_set_password" class="w-25% d-flex flex-col gap-4 mx-auto">
        <!-- Hidden Field for User Primary Key -->
        <!-- <input type="hidden" name="user_pk" value="{{ user_pk }}"> -->

        <!-- New Password Input -->
        <div class="d-flex flex-col">
            <label for="user_password">New Password</label>
            <input id="user_password" name="user_password" mix-check="{{ x.REGEX_USER_PASSWORD }}" type="password"
                required minlength="8" placeholder="Enter new password">
        </div>

        <!-- Confirm Password Input -->
        <div class="d-flex flex-col">
            <label for="user_repeat_password">Confirm Password</label>
            <input id="user_repeat_password" name="user_repeat_password" mix-check="{{ x.REGEX_USER_PASSWORD }}"
                type="password" required minlength="8" placeholder="Confirm new password">
        </div>

        <!-- Submit Button -->
        <button mix-put="/reset-password/{{user_reset_password_key}}" mix-data="#frm_set_password">Update
            Password</button>
    </form>
</main>
{% include "_bottom.html" %}