{% include "_top_logged.html" %}

Admin


<form id="frm_user_update">
    <input type="text" name="user_name" mix-check="{{ x.USER_NAME_REGEX }}" value="{{user['user_name']}}">
    <input type="text" name="user_last_name" value="{{user['user_last_name']}}"
        mix-check="{{ x.USER_LAST_NAME_REGEX }}">
    <input type="text" name="user_email" value="{{user['user_email']}}" mix-check="{{ x.REGEX_EMAIL }}">
    <button mix-put="/users" mix-data="#frm_user_update">
        Update user
    </button>
</form>

<div class="d-flex">
    <section class="w-40%">
        <h2>All users</h2>
        {% for user in users %}
        <div class="d-flex j-content-between mb-5 mt-5">
            <form id="frm_user_block-{{user['user_pk']}}" class="d-flex w-60% j-content-between">
                <p>{{user['user_email']}}</p>

                {% if user['user_verified_at'] != 0 %}
                {% if user['user_blocked_at'] == 0 %}
                {% include '___btn_block_user.html' %}
                {% else %}
                {% include '___btn_unblock_user.html' %}
                {% endif %}
                {% endif %}

            </form>
        </div>
        {% endfor %}
    </section>

    <section class="w-40%">
        <h2>All items</h2>
        {% for item in items %}
        <div class="d-flex w-50% j-content-between mb-5 mt-5">
            <form id="frm_item_block-{{item['item_pk']}}" class="d-flex w-60% j-content-between">
                <p>{{item['item_title']}}</p>

                {% if item['item_blocked_at'] == 0 %}
                {% include '___btn_block_item.html' %}
                {% else %}
                {% include '___btn_unblock_item.html' %}
                {% endif %}

            </form>
        </div>
        {% endfor %}
    </section>

</div>



<script src="{{url_for('static', filename='mixhtml.js')}}"></script>

<script>
    mojo({
        patterns: {
            "input": {
                idle: "border border-1 border-c-gray:+25 px-2 rounded-4 h-12 outline-none"
            },
            "button": {
                idle: "border-c-black px-4 rounded-sm h-12 outline-none"
            }
        },
    })
</script>


</body>

</html>