{% include "_top_logged.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Items</title>
</head>
<body>
    <h1>{{ restaurant['user_name'] }}</h1>
    <ul>
        {% for item in items %}
            <li>
                {{ item['item_title'] }}
                <form id="frm-add-basket">
                    <input type="hidden" name="item_title" value="{{ item['item_title'] }}">
                    <button mix-post="/restaurant/{{restaurant['user_pk']}}/add_to_basket" mix-data="#frm-add-basket">Put item in basket</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Your Basket</h2>
    <ul>
        {% for item in session.get('basket', []) %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
<!--     
    <form action="{{ url_for('buy_all') }}" method="post">
        <button type="submit">Buy All</button>
    </form> -->
    

{% include "_bottom.html" %}
